In [6]:
import koreanize_matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import json
file = open('./input/data.json', 'r', encoding='utf-8')
data = json.load(file)

# Parse personal data
combined_rows = []

# Match entries by totalScore and grade
for stat_id, stat_data in data["statistics"].items():
    for stu_id, stu_data in data["students"].items():
        if (stat_data["grade"] == stu_data["studentGrade"] and
            stat_data["totalScore"] == stu_data["totalScore"] and
                stat_data["scores"] == stu_data["scores"]):

            row = {
                "Gender": stat_data.get("gender"),
                "Grade": stat_data.get("grade"),
                "TotalScore": stat_data.get("totalScore")
            }
            # Include category scores
            row.update(stat_data["scores"])
            combined_rows.append(row)
            break

# Convert to DataFrame
df_combined = pd.DataFrame(combined_rows)

# Print final table
print(df_combined.to_string(index=False))
df_combined.to_csv('./input/combined_data.csv', index=False, encoding='utf-8-sig')

Gender Grade  TotalScore  불안 및 우울 문제  심리외상 문제  외현화 문제  자살 및 위기 문제  학교생활적응 문제
  girl   2학년          80          24       14       9          18         15
  girl   1학년           0           0        0       0           0          0
   boy   2학년           4           0        0       2           0          2
  girl   2학년           7           6        0       0           0          1
   boy   1학년          19           9        4       3           0          3
   boy   1학년           9           5        1       1           0          2
  girl   2학년           6           2        0       0           0          4
  girl   1학년          39          13        7       3           8          8
   boy   1학년          23          14        1       5           2          1
  girl   3학년           7           4        1       0           0          2
   boy   1학년          14           9        0       3           0          2
  girl   1학년          25           8        1       6           2          8
  girl   1학년          23          14        0       2           3          4
   boy   3학년          20          16        0       0           0          4
   boy   2학년          21          11        2       4           0          4
   boy   2학년          32          22        0       0           1          9
  girl   2학년           7           1        0       0           3          3
   boy   2학년          25          11        2       1           6          5
   boy   2학년          30          15        6       0           2          7
   boy   2학년          31          15        5       4           2          5
  girl   2학년          22           7        1       3           5          6
  girl   3학년          33          19        2       1           2          9
  girl   1학년          19          10        2       4           1          2
   boy   2학년          14           6        0       1           0          7
   boy   2학년           4           1        0       1           0          2
   boy   1학년          18           9        4       1           1          3
  girl   1학년           6           3        2       0           0          1
   boy   3학년          20           9        3       2           0          6
   boy   2학년          10           5        0       1           0          4
   boy   3학년          17           6        2       5           0          4
   boy   1학년           2           0        0       1           0          1
   boy   1학년           1           1        0       0           0          0
   boy   2학년          11           8        0       0           0          3
  girl   3학년          24          15        0       4           1          4
  girl   3학년          14           7        1       0           1          5
  girl   1학년          16           9        2       0           2          3
  girl   2학년          22          14        1       1           0          6
  girl   3학년          29          13        7       0           2          7
   boy   1학년          15           5        2       3           2          3
   boy   3학년          39          16        6       2           3         12
   boy   2학년           0           0        0       0           0          0
   boy   2학년           1           0        0       1           0          0
  girl   2학년          11           8        1       0           0          2
   boy   2학년          32          13        5       2           1         11
   boy   1학년          73          12       15      21          14         11
  girl   2학년          12           6        0       2           0          4
  girl   1학년           4           3        0       0           0          1
   boy   2학년           8           6        0       0           0          2
   boy   1학년          36          12        7       4           1         12
   boy   1학년          17          12        0       1           0          4
  girl   2학년           8           2        0       2           0          4
   boy   1학년          15           8        2       2           0          3
  girl   1학년          11           5        2       0           0          4
  girl   1학년          22          12        0       1           4          5
  girl   3학년          24          16        0       0           2          6
  girl   3학년          32          19        7       2           2          2
  girl   1학년          20          10        0       0           3          7
   boy   2학년          11           7        0       0           0          4
  girl   1학년          17          10        2       2           1          2

In [7]:
import pandas as pd

# 쉼표 구분
df_comma = pd.read_csv('./input/data.csv', delimiter=',')
print(df_comma.head())

# 탭 구분
df_tab = pd.read_csv('./input/data.csv', delimiter=',')

# 공백 구분
df_space = pd.read_csv('./input/data.csv', delimiter=',')

# 콜론 구분
df_colon = pd.read_csv('./input/data.csv', delimiter=',')

# 세미콜론 구분
df_semicolon = pd.read_csv('./input/data.csv', delimiter=';')

  Gender  Grade  TotalScore  Anxiety_and_Depression_Issues  \
0   girl      2          80                             24
1   girl      1           0                              0
2    boy      2           4                              0
3   girl      2           7                              6
4    boy      1          19                              9

   Psychological_Trauma_Issues  Externalizing_Issues  \
0                           14                     9
1                            0                     0
2                            0                     2
3                            0                     0
4                            4                     3

   Suicidal_and_Crisis_Issues  School_Adjustment_Issues
0                          18                        15
1                           0                         0
2                           0                         2
3                           0                         1
4                           0                         3